<!DOCTYPE html>
<html>
    <head>
        <title>Flash Cards</title>
        <!-- We've provided some styles for you, aren't we nice? -->
        <link rel="stylesheet" type="text/css" href="reset.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body ng-app="flashCards" >

        <div ng-controller="ScoreController">
            Correct: {{ score.correct }}
            Incorrect: {{ score.incorrect }}
        </div>

        <div ng-controller="MainController">
            <loading ng-hide="loaded"></loading>
            <div id="category-buttons">
                <button 
                  ng-repeat="category in categories"
                  ng-click="switchCategory(category)">
                    {{ category }}
                </button>
                <button ng-click="reset()">
                    Reset
                </button>
            </div>

        	<card flash-card="myCard" ng-repeat="myCard in flashCards | orderBy : 'question'"></card>
        </div>
    	<script src="angular.js"></script>
    	<script src="app.js"></script>
        <script src="main.controller.js"></script>
        <script src="factories/cards.factory.js"></script>
        <script src="factories/score.factory.js"></script>
        <script src="controllers/score.controller.js"></script>
        <script src="directives/loading/loading.directive.js"></script>
        <script src="directives/card/card.directive.js"></script>
    	<script src="directives/borderOnHover/borderOnHover.js"></script>
    </body>
</html>











