<div>

    <loader ng-show="submittingCard"></loader>

    <form name="cardForm" ng-if="!submittingCard" ng-submit="cardForm.$valid && editCard(card)" novalidate>

        <error-message ng-show="cardForm.$dirty && cardForm.question.$error.required">
            Question is required.
        </error-message>
        <error-message ng-show="cardForm.question.$error.minlength">
            Question is too short.
        </error-message>

        <input name="question" required ng-minlength="15" type="text" ng-model="card.question" /><br />

        <error-message ng-show="cardForm.$submitted && cardForm.category.$error.required">
            Category is required!
        </error-message>

        <select name="category" required ng-model="card.category">
            <option>MongoDB</option>
            <option>Express</option>
            <option>Angular</option>
            <option>Node</option>
        </select><br />

        <div ng-repeat="answer in card.answers">
            <input required ng-maxlength="40" type="text" ng-model="answer.text" />
            <input type="checkbox" ng-model="answer.correct" />
        </div>

        <button type="submit">Add new card!</button>

    </form>

</div>